<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>DevOps</h1>
    <p>Este é um pequeno exemplo de de implementação</p>
    
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Atenção! Siga as instruções abaixo para realizar o exercício.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Instruções</h3>
      <ul>
        <li>Fazer um fork do repositorio https://github.com/engenhariadesoftwareuepg/iniciando-com-devops</li>
        <li>Pode utilizar o codeanywhere ou uma IDE </li>
        <li> Realizar a integração com o <a href="https://travis-ci.org">Travis-ci</a> </li>
        <li>Realizar a integração de deploy do <a href="https://www.heroku.com/">Heroku</a> </li>
        <li>Implementar o teste para 3 funções simples (verificar se é triângulo, cálculo de distância euclidiana, conversão de medidas, etc)</li>
        <li>Implementar as 3 funções para passar nos testes</li>

      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Trabalho em equipe</h3>
      <ul>
        <li>Desenvolver o trabalho em equipe 3 academicos</li>
        <li>Cada um deve realizar pelo menos 1 função</li>
        <li>Utilizar as opções de colaboração do github</li>
        
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Critérios</h3>
      <ul>
        <li>Cada membro deve implementar uma função</li>
        <li>Cada função deve ser implementada em um branch diferente</li>
        <li>As branchs devem ser mescladas a branch master</li>
        <li>Deverá passar em todos os testes</li>
      </ul>
    </div>
  </div> <!-- row -->
   
</div>

</body>
</html>
